body {
    background-color: #76cdff;
}

header {
    background-color: rgb(210, 255, 251);
    height: 3em;
    justify-content: center;
    align-items: center;
    display: flex;
}

ul {
    display: flex;
    gap: 2em;
    flex-direction: row;
}

li {
    color: white;
    border-radius: 10%;
}

#P3R {
    background-color: rgb(57, 147, 249);
}

#P3R :hover {
    background-color: rgb(17, 105, 206);
    border-radius: 10%;
}

#P4G {
    background-color: rgb(255, 221, 0);
}

#P4G :hover {
    background-color: rgb(198, 172, 0);
    border-radius: 10%;
}

#P5R {
    background-color: rgb(255, 0, 0);
}

#P5R :hover {
    background-color: rgb(203, 1, 1);
}

#lang {
    background-color: rgb(215, 215, 215);
}

#lang :hover {
    background-color: rgb(181, 181, 181);
}

option {
    background-color: rgb(181, 181, 181);
}

#data-theme {
    background-color: #000000;
}