<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="front-end/reset.css">
    <link rel="stylesheet" href="front-end/style.css">
    <title>Persona 4 Golden Build Helper</title>
</head>
<body>
    <h3>Yosuke Hanamura (Jiraiya)</h3>
    <h3>Chie Satonaka (Tomoe)</h3>
    <h3>Yukiko Amagi (Konohana Sakuya)</h3>
    <h3>Kanji Tatsumi (Take-Mikazuchi)</h3>
    <h3>Rise Kujikawa (Himiko)</h3>
    <h3>Teddie (Kintoki-douji)</h3>
    <h3>Naoto Shirogane (Sukuna-Hikona)</h3>
</body>
</html>