<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/reset.css">
    <link rel="stylesheet" href="static/style.css">
    <title>Persona 5 Royal Build Helper Tool</title>
</head>
<body>
    <h3>Morgana (Zorro)</h3>
    <h3>Skull (Captain Kidd)</h3>
    <h3>Panther (Carmen)</h3>
    <h3>Fox (Goemon)</h3>
    <h3>Queen (Johanna)</h3>
    <h3>Oracle (Necronomicon)</h3>
    <h3>Noir (Milady)</h3>
    <h3>Crow (Robin Hood)</h3>
    <h3>Violet (Cendrillon)</h3>
    <h3>Crow (Loki)</h3>
</body>
</html>